<a href="https://colab.research.google.com/github/DeepanshuPasrija/test/blob/master/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fileContent = open("/content/demofile.txt","r")

In [ ]:
print(fileContent.read())

hello world. Hows everyone

In [ ]:
fileContent1 = open("/content/Giants.csv","r")
print(fileContent1.read())

movie,title,genres,year,Rating,Rotton Tomato
108583,Fawlty Towers (1975,Comedy,-1980,1,54
32898,"Trip to the Moon, A (Voyage dans la lune, Le)",Action|Adventure|Fantasy|Sci-Fi,1902,7,80
7065,"Birth of a Nation, The",Drama|War,1915,6,92

In [ ]:
# importing csv module
import csv

# csv file name
filename = "Giants.csv"

# initializing the titles and rows list
fields = []
rows = []

# reading csv file
with open(filename, 'r') as csvfile:
	# creating a csv reader object
	csvreader = csv.reader(csvfile)
	
	# extracting field names through first row
	fields = next(csvreader)

	# extracting each data row one by one
	for row in csvreader:
		rows.append(row)

	# get total number of rows
	print("Total no. of rows: %d"%(csvreader.line_num))

# printing the field names
print('Field names are:' + ', '.join(field for field in fields))

# printing first 5 rows
print('\nFirst 5 rows are:\n')
for row in rows[:5]:
	# parsing each column of a row
	for col in row:
		print("%10s"%col),
	print('\n')

Total no. of rows: 4
Field names are:movie, title, genres, year, Rating, Rotton Tomato

First 5 rows are:

    108583
Fawlty Towers (1975
    Comedy
     -1980
         1
        54


     32898
Trip to the Moon, A (Voyage dans la lune, Le)
Action|Adventure|Fantasy|Sci-Fi
      1902
         7
        80


      7065
Birth of a Nation, The
 Drama|War
      1915
         6
        92