<a href="https://colab.research.google.com/github/DeepanshuPasrija/test/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

inp = pd.Series([1,57,36,7,np.nan,9])

inp

0     1.0
1    57.0
2    36.0
3     7.0
4     NaN
5     9.0
dtype: float64

In [8]:
dates = pd.date_range("20130101", periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.775896 -0.437470  0.979354  0.647528
2013-01-02  2.166735  0.346074 -0.608482 -1.266993
2013-01-03 -0.759761  0.858686  0.837130  1.823694
2013-01-04 -1.360608  2.077708 -0.028887  0.899194
2013-01-05  0.887300  1.042320  0.633219 -1.164925
2013-01-06 -0.438621 -0.926736 -1.343460  1.378405

In [9]:
df2 = pd.DataFrame(
     {
         "A": 1.0,
         "B": pd.Timestamp("20130102"),
         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
         "D": np.array([3] * 4, dtype="int32"),
         "E": pd.Categorical(["test", "train", "test", "train"]),
         "F": "foo",
     }
 )

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo